<h2>Add new post</h2>
<p>
  <form action="/new_post" method="POST" role="form">

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Add text</label>
      <textarea name="content" style="width: 100%" class="form-control" placeholder="Type post text here" id="exampleFormControlTextarea1" rows="6"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</p>
